body {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.mainwindow {
    display: flex;
    order: 1;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    justify-content: center;
}

h1.MW {
    padding: 10px;
    font-family: "Karasha";
    text-align: center;
    font-size: 10vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2.win {
    display: none;
    font-family: "Premier 2019";
    text-align: center;
    font-size: 8vh;
}

h2.lose {
    display: none; 
    font-family: "Premier 2019";
    text-align: center;
    font-size: 8vh;
}

h2.draw {
    display: none; 
    font-family: "Premier 2019";
    text-align: center;
    font-size: 8vh;
}

p.score {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Premier 2019";
    text-align: center;
    font-size: 8vh;
}

div.versusimage {
    display: none;
    justify-content: center;
}

img.img1{
    padding-right: 10px;
}

img.img2{
    padding-left: 10px;
}

div.frstpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

button.start{
    display: flex;
    height: 20px;
}

div.scndpage {
    display: none;
    flex-direction: row;
    justify-content:center ;
    max-height: 100vh;
    max-width: 100vw;
    padding: 10px;
}

button.firstbutton {
    order: 2;
    padding: 11px;
    background-image: url(../assets/img/Ken.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 28vh;
    width: 13vw;
    border-radius: 350px;
}

button.scndbutton {
    order: 3;
    padding: 10px;
    background-image: url(../assets/img/Jan.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 28vh;
    width: 13vw;
    border-radius: 350px;
}

button.thirdbutton {
    order: 1;
    padding: 10px;
    background-image: url(../assets/img/Pon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 28vh;
    width: 13vw;
    border-radius: 350px;
}

div.thrdpage {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 130px;
}